body {

	padding: 3em;
	background-color: #999;
	font-size: 18px;
	background-image: url('./jeremy-sun-wow-1920xwide.jpg'); 
	color: #ffffffd6;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;

}
